@import 'src/variables.scss';

.location-tag-add {
  display: inline-flex;
  padding: 5px;
  border-radius: 3px;
  background-color: $color-bg-tag-add;
  cursor: pointer;
  border: none;
}

.location-tag-add__icon {
  margin-right: 5px;
}

.location-tag-add__name {
  @include font-size-small;
  font-weight: 600;
  color: $color-text-contrast;
}
