.article-preview {
    display: flex;
    flex-direction: column;

    width: 560px;
    height: 150px;

    border: 2px solid #C4C4C4;
    border-radius: 5px;

    text-decoration: none;
}

.article-preview__upper-block {
    display: flex;
    height: 90px;
    color: #565656;

    margin: 10px 15px 0 15px;
}

.article-preview__lower-block {
    display: flex;
    height: 50px;
}

.article-preview__picture-box {
    display: flex;
    width: 120px;
    height: 90px;
    max-width: 120px;
    max-height: 90px;
}

.article-preview__picture {
    width: 100%;
    height: 100%;

    border-radius: 3px;
}

.article-preview__text-when-picture {
    display: flex;
    flex-direction: column;
    max-width: 395px;
    padding-left: 15px;
}

.article-preview__text-when-no-picture {
    max-width: 530px;
}

.article-preview__title-when-picture {
    display: flex;
    height: 25px;
    max-height: 25px;

    font-size: 20px;
    font-weight: bold;
    line-height: 100%;

    white-space: nowrap;
    overflow: hidden;
}

.article-preview__description-when-picture {
    display: flex;
    font-size: 12px;
    margin-top: 5px;
    height: 60px;
    max-height: 60px;
    overflow: hidden;
    line-height: 120%;
}

.article-preview__title-when-no-picture {
    max-height: 25px;
    font-size: 20px;
    font-weight: bold;
    line-height: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.article-preview__description-when-no-picture {
    display: flex;
    font-size: 12px;
    margin-top: 5px;
    height: 60px;
    max-height: 60px;
    overflow: hidden;
    line-height: 120%;
}

.article-preview__info {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 11px;
    margin: 7px 0 7px 15px;
    justify-content: space-between;
}

.article-preview__tags {
    display: flex;
    flex-direction: row;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.article-preview__views-and-rates {
    display: flex;
    justify-content: space-between;
    width: 120px;
    line-height: 100%;
}

.article-preview__author {
    width: 120px;
    text-decoration: none;
    font-size: 11px;
    color: #8F8F8F;
    white-space: nowrap;
    overflow: hidden;
}

.article-preview__views {
    color: #C4C4C4;
}

.article-preview__rates {
    color: #94C776;
}