<main class="home-view">
  <div class="home-view__illustration-container">
    <img class="home-view__illustration" src="assets/home-illustration.svg" alt="illustration" />
    <h1 class="home-view__illustration-title">Самый ахуенный сайт короче</h1>
    <div class="home-view__illustration-label">Ваще пиздатый</div>
  </div>

  <app-search></app-search>

  <section class="home-view__section" *ngFor="let articleSection of articleSections">
    <div class="home-view__section-header">
      <h2 class="home-view__section-name" *ngIf="articleSection.articleRows.length > 0">{{ articleSection.name }}</h2>
      <a class="home-view__secttion-more" [routerLink]="articleSection.moreLink"> Больше</a>
    </div>

    <div class="home-view__section-articles-row" *ngFor="let articleRow of articleSection.articleRows">
      <app-article-card
        class="home-view__section-article-card"
        *ngFor="let article of articleRow"
        [isViewsShown]="false"
        [title]="article.title"
        [shortDescription]="article.shortDescription"
        [tags]="article.tags"
        [rating]="article.rating"
        [userNickname]="article.userNickname"
        [previewUrl]="article.previewPictureLink"
        [id]="article.id"
        [userId]="article.userId"
      ></app-article-card>
    </div>
  </section>

  <div class="home-view__no-articles" *ngIf="isAllSectionsEmpty">
    Пока что на сайте нет статей, но есть Слава КПСС
    <img class="home-view__no-articles-image" src="assets/no-articles.jpg" alt="No articles" />
  </div>
</main>
