<link rel="stylesheet" href="~/css/components/article-category.css" />
<div class="article-category">
    <div class="article-category__header">
        <h3 class="article-category__name">
            @ViewBag.CategoryName
        </h3>
        <a class="article-category__more" href="">Больше</a>
    </div>
    <div class="article-category__items">
        @if (ViewBag.Articles != null)
        {
            foreach (var article in ViewBag.Articles)
            {
                <vc:article-preview article="@article"/>
            }
        }
    </div>
</div>
