@import 'src/variables.scss';

.location-tag-add {
  display: inline-flex;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid $color-bg-tag;
  background-color: $color-text-contrast;
  cursor: pointer;
}

.location-tag-add__icon {
  margin-right: 5px;
  flood-color: $color-bg-tag;
}

.location-tag-add__name {
  @include font-size-small;
  font-weight: 600;
  color: $color-bg-tag;
}
